<h1>Editing Booking</h1>

<%= render partial: 'form', locals: {path: user_booking_path} %>

<%= link_to 'Show', user_booking_path(@user,@booking) %> |
<%= link_to 'Back', user_booking_path(@user,@booking) %>
